.itemBin{
    height: 200px;
    width: 800px;

    border: 1px solid black;

    margin: 5px;
    margin-bottom: 30px;
}

.knapsack img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}

.itemButton {
    height: 120px;
    width: 120px;
}