.itemBin{
    height: 400px;
    width: 600px;
    border: 1px solid black;

}

.knapsack img{
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

.itemButton {
    height: auto;
    width: auto;
}

.binHeader{
    text-align: center;
}